.fieldset-helperbox-date-time-widget {
  .form-item__label {
    display: none;
  }

  .form-datetime-wrapper {
    margin-block: 0;
  }

  .select2-container--default .select2-selection--single {
    border-color: rgb(145, 146, 151);
    border-radius: 0;
    height: 100%;
    cursor: auto;

    &:hover {
      border-color: black;
      box-shadow: inset 0 0 0 var(--input-border-size) var(--input--hover-border-color);
    }
  }

  .select2-selection__rendered {
    padding-block: 0.6875rem;
    padding-left: 0.9375rem;
    line-height: 1.5rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3e%3cpath fill='none' stroke-width='1.5' d='M1 1l6 6 6-6' stroke='%23545560'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 2.75rem 0.5625rem;
  }

  .select2-selection__arrow {
    display: none;
  }
}